<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<h1> {{.Mic}} exchange in the year {{.Year}}</h1>
<a href="/index.html">Index</a>{{.LinkPrevYear}}{{.LinkNextYear}}{{.Table}}
</body>
</html>